<!DOCTYPE html>
<html lang="en">

<head>
  <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css">
   <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Toys Index Page</title>
</head>
<body>
<div class ="card-content valign center">
  <div class="card-panel blue lighten-2"> 
    <h1>Pet Toy Swap</h1>
    </div>
<div class="card-panel blue lighten-3 laura"> 
    <h2>Welcome to Pet Toy Swap! Here you can find your dog's new favorite toy! Select the toy name and find out who
        to contact. Then add your own and swap!</h2>
    <a href="/toys/new"><button>add new toy to swap!</button></a>
  </div>
  </div>
  
    
    <div class="index-container" >
        <% for(let i = 0; i < allToy.length; i++){ %>
      
         <div class ="index">
            <img  src="<%= allToy[i].img %>" ></a>
         
           <a href="/toys/<%= allToy[i].id %>">
                <h4><%=allToy[i].name%></h4>
            </a>
          </div>
        <% } %>
       </div> 
          
     
 
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
    <%# </div> %>


</html>