<!DOCTYPE html>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Toys Index Page</title>
</head>

<body>
    <h1>Pet Toy Swap</h1>
    <h2>Welcome to Pet Toy Swap! Here you can look for your dog's new favorite toy! Select the toy name and find out who
        to
        contact to get your toy!</h2>
    <a href="/toys/new"><button>add new toy to swap!</button></a>
    <ul>
        <% for(let i = 0; i < allToy.length; i++){ %>
        <div>
            <a href="/toys/<%= allToy[i].id %>">
                <h4><%=allToy[i].name%></h4>
            </a>
            <img src="<%= allToy[i].img %>"></a>

        </div>
        <% } %>
    </ul>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>