<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Page</title>
</head>

<body>
    <h1>Create New Toy</h1>
    <form action="/toys/" method="POST">
        <label for="name">name</label>
        <input type="text" name="name" id="name" />
        <label for="img">Image</label>
        <input type="text" name="img" id="img">
        <label for="description">description</label>
        <input type="text" name="description" id="description">
        <label for="contact">contact</label>
        <input type="text" name="contact" id="contact">
        <input type="submit" value="create toy">



    </form>

</body>

</html>