<!DOCTYPE html>
<html lang="en">

<head>
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Page</title>
</head>

<body>
    <h1>Create New Toy</h1>
    <form action="/toys/" method="POST">
        <label for="name">name</label>
        <input type="text" name="name" id="name" />
        <label for="img">Image</label>
        <input type="text" name="img" id="img">
        <label for="description">description</label>
        <input type="text" name="description" id="description">
        <label for="contact">contact</label>
        <input type="text" name="contact" id="contact">
        <input type="submit" value="create toy">



    </form>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>