h1 {
    text-align: center;
    font-family: 'Source Serif Pro', serif;
}

a {
    font-family: 'Source Serif Pro', serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}


img {
    width: 200px;
    margin: auto;
}

.index-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


.index {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33.1%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.buttons {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;

    width: 33.1%;
}

.input {
    display: flex;
    justify-content: center;

}

form {
    margin: 10px 0 0 30px;
}